*{
    margin: 0px;
    padding: 0px;
}

/* header starts here */

.h-container{
    background-color: rgb(73, 73, 73);
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img_01{
    width: 150px;
    height: 40px;
}
.menu{

}
.menu a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}

.banner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    background-image: url("images/bg-image.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: .9;
}

.img_02{
    width: 300px;
    height: 300px;
}

.heading{
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;

}

.description{
    color: white;
    margin-bottom: 20px;
}

.btn{
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
}


.about_us-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    
}

.heading_01{
    text-align: center;
    margin: 10px;
    font-size: 60px;

}

.heading_02{
    font-size: 35px;
    margin-bottom: 100px;
}
.right-div_about-us{
    position: relative;
}
.para{
    position: absolute;
    top: 100px;
    font-size: 20px;
}

.btn-02{
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

/* header ends here */











/* card section starts here */

.section{
    height: 70vh;
    background-image: url("images/bg-image.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    
}


.card_container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 80vh;
    
    
    
}

.img_03{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
.center{
    text-align: center;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%); /*  text align center korar por position use tarpor translate dile top theke sore center eo thakbe */
} 
.heading_card{
    color: white;
    font-size: 50px;
    font: bold;
}

.card_01{
    text-align: center;
    height: 200px;
    width: 20%;
    height: auto;
    background-color: rgb(61, 50, 50);
    border-radius: 20px;
    
}


.card_container-body{
    color: white;
}
.btn_03{
    border: none;
    background-color: bisque;
    padding: 10px;
    margin: 10px 10px 20px 10px;
    border-radius: 5px;
}
.heading_03{
    margin: 10px;
}

.card_01 p{
    margin: 10px;
}

.card_01:hover{
    box-shadow: 0 0 30px 20px white;
    cursor: pointer;
}

/* card section ends here */

/* footer section starts here */


.bg_img-02{
    background-image: url("images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    color: white;
}

.container-bg{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
  height: 1px;
  margin-right: 70px;

}

.logo_des-01{
    width: 100%;
    flex: 3;
    text-align: center;
    margin-bottom: 40px;
}

.footer{
    width: 100%;
    flex: 7;
}

.img_04{
    width: 150px;
    height: 60px;
}
.description_02{
    font-size: 20px;
    margin-top: 20px;
}

.footer_container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hr_style{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    color: white;
    border-left: none;
    border-top: none;
    border-right: none;
}

.copyright{
    text-align: center;
    margin: 30px;
    padding-bottom: 20px;
}

.hr-div{
    margin-top: 230px;
}

.heading_04{
    font-size: 20px;
    margin: 10px;
}

.list_container{
    margin: 20px;
}
.list_container ul li{
    list-style: none;
    padding: 5px;
}

/* footer section ends here */

